<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/static/countdown.css" rel="stylesheet" />
    <script src="/static/countdown.js"></script>
  </head>
  <body>
    <section class="section-center">
      <!-- image -->
      <article class="gift-img">
        <img src="/static/images/gift.jpeg" alt="gift" />
      </article>
      <article>
        <!-- info -->
        <article class="gift-info">
          <h3>Iphone 14 Giveaway</h3>
          <h4 class="giveaway"></h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <div class="deadline">
            <!-- days -->
            <div class="deadline-format">
            <div >
                <h4 class="days">10</h4>
                <span>days</span>
            </div>
            </div>
            <!-- days end -->
             <!-- hours -->
            <div class="deadline-format">
            <div >
                <h4 class="hours">10</h4>
                <span>hours</span>
            </div>
            </div>
            <!-- hours end -->
             <!-- minutes -->
            <div class="deadline-format">
            <div >
                <h4 class="mins">10</h4>
                <span>mins</span>
            </div>
            </div>
            <!-- minutes end -->
             <!-- seconds -->
            <div class="deadline-format">
            <div >
                <h4 class="sec">10</h4>
                <span>secs</span>
            </div>
            </div>
            <!-- seconds end -->
          </div>
        </article>
      </article>
    </section>
  </body>
</html>
