<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/static/menu.css" rel="stylesheet" />
    <script src="/static/menu.js"></script>
  </head>
  <body>
    <section class="menu">
      <div class="title">
        <h2>menu</h2>
        <div class="underline"></div>
      </div>
      <div class="btn-container">
        <!--
        <button class="filter-btn" data-id='all' type="button">all</button>
        <button class="filter-btn" data-id='breakfast' type="button">Breakfast</button>
        <button class="filter-btn" data-id='lunch' type="button">launch</button>
        <button class="filter-btn" data-id='shakes' type="button">shakes</button>
        -->
      </div>
      <div class="section-center">
        <article class="menu-item">
          <img src="/static/images/item-1.jpeg" class="photo" alt="meal" />
          <div class="item-info">
            <header>
              <h4 class="head">buttermilk pancakes</h4>

              <h4 class="price">$15</h4>
            </header>
            <p class="item-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </p>
          </div>
        </article>
      </div>
    </section>
  </body>
</html>
